/*------------------------------------*\
    $TOGGLE-ALL-THE-THINGS!
\*------------------------------------*/
/**
 * Because I'm awesome, LiGHTHOUSE lets you toggle on/off each module
 * independently so you can easily cook up a custom flavour to suit your own
 * project's needs :)
 */
$lh-use-baseline-guides:       false; // [ true / false ]
$lh-use-modular-scale:         true;  // [ true / false ]
$lh-use-vertical-rhythm:       true;  // [ true / false ]
$lh-use-measure:               true;  // [ true / false ]
$lh-use-font-features:         true;  // [ true / false ]
